
<h1>Word Game!!!!</h1>

<form class="" action="/guess" method="post">
  <input type="text" name="guessInput" value="" placeholder="Guess A Letter!">
  <input type="submit"  value="Make A Guess!">
</form>
{{#each letterArray}}
<p class="hmWord" >{{this}}</p>
{{/each}}

<h3>Letters Guessed : {{guesses}} </h3>
