<h1>Word Game!!!!</h1>
<form class="" action="/guess" method="post">
  <input type="text" name="guess" value="" placeholder="Guess A Letter!">
  <input type="submit"  value="Make A Guess!">
</form>
<p>{{blank}}</p>
<h3>Letters Guessed : </h3>
